<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB0sLGR2L5kT8sIFVdYDnLh-ohiw_ZzKk&sensor=true">
    </script>
    <script type="text/javascript">

  var geocoder;
  var map;
  var markers = [];

  function initialize() {
    geocoder = new google.maps.Geocoder();
    var myLatLng = new google.maps.LatLng(33.97545, -118.3473);

    var mapOptions = {
      zoom: 11,
      center: myLatLng
    }

    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions); 
 
 }
  google.maps.event.addDomListener(window, 'page:change', initialize);

  // create a function that takes in argument 'x' from the click of the button and call is made through the GET and then after it gets a response it runs on mapMaker on line 31. 
  function searchMap(x) {
    $.ajax ({
      type:"GET", 
      url: "<%= map_jobs_search_path %>?category="+x,
    }).done(function(msg){
      mapMaker(msg);
    });
  }

  //this is a function mapMaker that takes the JSON and then plots the map. 
  function mapMaker(jobs_array){
     console.log(jobs_array);

    //for loop to place each marker with stored information. 
    var i, newMarker;
    var infowindow = new google.maps.InfoWindow();
    

    for (i=0; i < jobs_array.length; i++) {
      newMarker = new google.maps.Marker({
        position: new google.maps.LatLng(jobs_array[i].latitude, jobs_array[i].longitude),
        map: map, 
        title: (jobs_array[i].job_title),
        // animation: google.maps.Animation.DROP
        });
        google.maps.event.addListener(newMarker, 'click', (function(newMarker, i) {
          return function() {
            infowindow.setContent(jobs_array[i].job_title + "<br/>" + jobs_array[i].company_name + "<br/>" + jobs_array[i].primary_languages);
            infowindow.open(map, newMarker);
          }
        })(newMarker, i));   
        //push items into an array
        markers.push(newMarker);
        
    };
  }
  //set map from array
  function setAllMap(map) {
    for (var i = 0; i < markers.length; i++) {
      markers[i].setMap(map);
    }
  }

  //clear the map
  function clearIt () {
    setAllMap(null);
    // markers = [];  
  }
</script>

<div id="page-wrapper">
	<div id="map-wrapper">
	 <div id="map-canvas"> </div>
	 <div id= "sidebar">
    <form action="#" style="text-align: center; margin: 5px;">
      <input type= "button" value = "All Jobs" onclick= "searchMap('')"> 
      <br>
      <input type= "button" value = "Front End" onclick= "searchMap('Front-End')"> 
      <br>
      <input type= "button" value = "Back End" onclick= "searchMap('Back-End')"> 
      <br>
      <input type= "button" value = "Full Stack" onclick= "searchMap('Full-Stack')"> 
      <br>
      <input type= "button" value = "Clear Map" onclick= "clearIt()"> 
   </form> 
   </div>
	</div>
</div>
