     <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB0sLGR2L5kT8sIFVdYDnLh-ohiw_ZzKk&sensor=true">
    </script>
    <script type="text/javascript">
      function initialize() {

        var myLatLng = new google.maps.LatLng(34.05223, -118.24368);


        var mapOptions = {
          center: myLatLng,
          zoom: 16
        };

        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
        

      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title:"Hello World!"
        });
      }
      google.maps.event.addDomListener(window, 'page:change', initialize); 
 </script>


<!-- NAV BAR -->
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">My Site</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="#">Right Button Active</a></li>
      <li class="has-dropdown">
        <a href="#">Right Button with Dropdown</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#">Left Nav Button</a></li>
    </ul>
  </section>
</nav>

<div id="map-wrapper">
 <div id="map-canvas"> </div>
 <div id= "sidebar"></div>
</div>

 