// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Roboto);

html, body {
     height: 100%;
     width: 100%;
     padding: 0;
     margin: 0;
}

#page-wrapper {
     height: 94%;
}

#map-wrapper {
     height: 100%;
     width: 100%;
}

#map-canvas {
     height: 100%;
     float: left;
     width: 82%;
}

#sidebar {
     float: right;
     height: 100%;
     background-color: #666666;
     width: 18%;
     font-family: 'Roboto Condensed', sans-serif;
}

#map-canvas img {
     max-width: none;
}

.name a {
     font-size: 28px;
     font-weight: bold;
     margin-left: 30px;
     text-shadow: 1px 1px 1px #000;
     font-family: 'Roboto Condensed', sans-serif;
}

#title {
     color: #ff0000;
}

.job {
     margin-left: 20px;
     background-color: #385B9F;
     height: 20%;
}

.top-bar-section .right{
     font-size: 14px;
     color: #FFF;
     padding-right: 30px;
}

.button {
     background-color: #999999;
     box-shadow: 1px 1px 1px #000;
     border-radius: 1px solid #FFF;
}

.button:hover {
     background-color: #b3b3b3;
}

.button#clear{
     background-color: #333333;
}

#accordion {
     padding: 0 10px;
     margin: 0 auto;
     margin-top: 10px;
     text-align: left;
     color: #000;
     max-width: 100%;
     max-height: 100%;
}

#accordion div {
     padding: 10px;
}

#accordion a:hover {
     color: #004080;
}

#accordion a {
     font-size: 14px;
     color: #000;
}

#clear-btn {
     margin-top: 10px;
}

#credits {
     color: #FFF;
     font-size: 11px;
     padding: 0 14px;
}

#embed {
     height: 100%;
     width: 250px;
}