// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-wrapper {
	height: 100%;
	width: 100%;
}

#map-canvas { 
	height: 100%;
	float: left;
	width: 760px/960px * 100%;
}

#sidebar {
	float: right;
	height: 100%;
	background-color: #000;
	width: 200px/960px * 100%;
}

